.job {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    .item {
            margin-right: 30px;
        }
    .item:nth-child(3n) {
        margin-right: 0;
    }
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}
.job-item {
    position: relative;
}

.job-text-back {
    font-weight: 700;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}