.modal-backdrop {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    max-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-close:hover &,
    .modal-close:focus & {
        fill: var(--accent-color)
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-input {
    /* display: block; */
    width: 448px;
    height: 40px;
    left: 576px;
    top: 314px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition: border-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border-color: var(--accent-color);
        }
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-field-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.modal-text {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-input-grup {
    position: relative;
}

.modal-icon-input {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    .modal-input:focus+&,
    .modal-input:hover+& {
        fill: var(--accent-color);
    }
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    span {
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 2px;
            margin-right: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            .modal-check:checked+& {
                background-color: var(--accent-color);
                border: 0;
                }
            .modal-check:hover+&{
                border: 2px solid var(--accent-color);
            }
            .modal-check:focus+&{
                border: 1px solid var(--accent-color);
            }
        }
}

.modal-icon-check {
    fill: transparent;
}

.modal-check:checked+.check-text .modal-icon-check {
    fill: var(--primary-white-color);
}
/* .modal-check:hover + .check-text .modal-icon-check {fill: var(--primary-white-color);} */
.modal-policy-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}